/* input estilos */ 
.boton{
	background-color: #ddd3d3;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 20px;
	width: 150px;
	height: 48px;
	cursor: pointer;
}

.input-text{
	width: 169px;
	height: 26px;
	color: #666;
	border: 1px solid #ddd;
	padding: 5px;
}
/* fin de input estilos */

/* estilos para los formularios */
.module-content-container {
	margin: 0 15px;
	padding-bottom: 10px;
}

.user-details-box-row {
	display: flex;
	margin: 20px 0 20px 0;
}

select.input-text {
	width: 181px;
	height: 36px;
	background: #ffffff;
}

.user-details-box-row-label-space {
	width: 140px;
	height: 45px;
}


.user-details-box-row-internal {
	margin: 15px;
	height: 100px;
	width: 212px;
}

.label-space {
	padding-bottom: 5px;
}

.sales-page-title {
	margin: 20px 0 20px 0;
}

.titles-color{
	color: #46912F;
}

@media screen and (max-width:480px){
	.user-details-box-row{
		flex-direction: column;
	}
}

/* aqui termina los estilos para los formularios */

/* estilos para las tablas */
.list-container{
	display: flex;
	margin: 10px;
	font-size: 9px;
}

.table-list-column {
	flex: auto;
}

.table-list-row {
	border: 0.1px solid #d2d2d2;
	background-color: #ffffff;
	padding: 4px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.table-list-row-text {
	width: 35px;
}

.table-list-title,.table-list-bottom-text {
	padding: 5px;
	background: #EEEEFF;
	border: 0.1px solid #d2d2d2;
	height: 24px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result{
	color: #0000ff;
}

.block {
	color: #ff0000;
}

.active {
	color: #008000;
}
/* aqui terminan los estilos para las tablas */
