
/* aqui el cuadro del user */
.details-user{
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.user-details{
    display: flex;
}

.user-details-box {
    margin: 0 20px 20px 0;
}

form.user {
    display: flex;
    margin: 15px 0;
    max-width: 570px;
}

select.input-text {
    width: 181px;
    height: 36px;
}

.title-user {
    margin: 15px 0;
    color: #46912F;
}

.info-user {
    margin: 0 15px;
}
/* aqui termina el cuadro del user */


