
/* aqui el cuadro del user */
.user-details,.filters-container{
	display: flex;
}

.user-details-box,.filters-details-box {
	margin: 0 20px 0 0;
	display: flex;
}

.user-details-box-row,.filters-details-box-row {
  margin: 0px 20px 0px 0px;
}

form.user,.filters {
	display: flex;
	margin: 15px 0;
}

.padding-separate-form{
	padding-bottom: 20px;
}

select.input-text {
	width: 181px;
	height: 36px;
	background: #fffafa;
}
.user-details-input{
	margin-top: 5px;
}

.module-content-container {
	margin: 0 15px;
}

.user-details-box-row-label-space{
	padding: 10px 0 10px 0;
	margin-top: 20px;
	height: 45px;
	width: 65%;
}
/* aqui termina el cuadro del user */


