
/* aqui el cuadro del user */
.details-user{
	display: flex;
	justify-content: center;
	max-width: 50%;
}

.user-details,.filters-container{
	display: flex;
}

.user-details-box,.filters-details-box {
	margin: 0 20px 0 0;
}

form.user,.filters {
	display: flex;
	margin: 15px 0;
}

select.input-text {
	width: 181px;
	height: 36px;
	background: #fffafa;
}

.module-content-container {
	margin: 0 15px;
}

.label-space{
	padding: 8px 0 5px 0;
}
/* aqui termina el cuadro del user */


