/* aqui agrego la barra despegable para el mobile */

.mobile-navbar-button{
	background-color:  #46912F;
	display: flex;
	padding: 14px 16px;
	height: 63px;
}

.mobile-navbar-items{
	height: 400px;
	width: 0;
/*	display: flex;*/
/*	flex-direction: column;*/
/*	background-color: #46912F;*/
	opacity: 0.9;
	
	transition: all 0.5s;
/*	overflow-x: hidden;*/
	position: absolute;
}

.mobile-navbar-items a {
	padding: 0px 0px 10px 12px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: flex;
	transition: 0.3s;
	flex-direction: row;
	width: 120px;
}

.mobile-navbar-items a:hover{
	color: #d3e623;
}

.mobile-navbar-items .btn-close{
	top: 0px;
	left: 160px;
	font-size: 50px;
	height: 50px;
	width: 40px;
	align-items: baseline;
	padding: 0 5px 0 10px;
	position: relative;
}

.open-slide {
  display: flex;
}

.movile-navbar-title {
  font-size: 20px;
  margin: 0 0px 0px 12px;
}

.movile-navbar-title a {
	color: #ffff;
	text-decoration: none;
	padding: 0 0 0 18px;
}

/*aqui termina la barra despegable */

/* empiezo con los estilos de las barritas hr */
div.line-color{
	width: 85px;
	background-color: #c9fc7e;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	height: 20px;
	border: 1px solid white;
	margin-top: 5px;
}

hr {    
	border: 0;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	height: 2px;
	background: #ffffff;
	margin: 5px;
}
/*aqui termina las barras hr */

@media screen and (max-width:480px) {
    
	.menu-modules-row{
		width: 60%;
		height: auto;
		margin: 0 auto;
		flex-direction: column;
	}

	nav p{
		font-size: 12px;
	}

	.box-text{
		max-width: 50%;
		padding-top: 10px;
	}

	.box-text span {
		font-size: 16px;
	}

	.top-bar-container{
		display: none;
	}

	.img-module {
		display: flex;
		justify-content: center;
		align-items: center;
	}

		img {
		width: 70px;
		height: 70px;
	}

	.line{
		max-width: 100%;
	}

	div.line-color{
		width: 118%;
	}

	.menu-modules-box {
		width: 200px;
		height: 100px;
	}

	.bar-ocult{
		display: none;
	}
}

@media screen and (min-width:480px) {
  
	.open-slide{
		display: none;
	}

	.mobile-navbar-button{
		display: none;
	}

	.mobile-navbar-items {
		display: none;
	}
    
}

