.principal-title-icons-container {
	padding: 6px 10px 0 10px;
	display: flex;
	background: #EEEEFF;;
}

.principal-title {
	width: 60%;
}

.principal-title h1 {
	font-size: 26px;
}


.module-icons-bar-imagesr{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
}

.module-page-title-container h2 {
	font-size: 22px;
}

.brinsa-title{
	justify-content: center;
	display: flex;
	flex-basis: 80%;
}

@media screen and (max-width:480px){
	.principal-title-icons-container{
		flex-direction: column-reverse;
		display: flex;
		padding: 15px 15px 0;
	}
	
	.principal-title{
		padding-bottom: 10px;
		width: 95%;
    justify-content: flex-start;
	}

	.principal-title h1 {
		font-size: 20px;
	}

	.module-page-title-container h2 {
		font-size: 16px;
	}

}