.top-bar-container{
	height: 40px;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	background-color: #EEEEFF;
	padding-bottom: 10px;
	font-size: 12px;
}

p.top-bar-left-side,.top-bar-right-side{
	font-family: arial;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-bar-right-side-separation {
	margin: 10px;
}

.top-bar-left-side{
	background-color:  #46912F;
	width: 20%;
	color: white;
	align-items: center;
  display: flex;
}

.top-bar-left-side,.top-bar-right-side{
	padding: 10px 0 0 10px;
}
.top-bar-icon img {
	width: 16px;
	height: 16px;
}