html{
    box-sizing: border-box
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}

/* aqui el cuadro del user */
.details-user{
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.user-details{
    display: flex;
    flex-wrap: wrap;
}

form.user {
    display: flex;
    margin: 15px;
    max-width: 570px;
}
label{
    width: 10%;
}
.box-input{
    width: 30%;
    margin: 5px;
}
.title-user {
    margin: 15px;
    color: #46912F;
}
label.flex {
    flex: 0 1 14%;
    margin: 10px;
}
/* aqui termina el cuadro del user */


