html{
    box-sizing: border-box
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
.menu-main{
    background-color: #EEEEFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.font-green {
    background-color: #46912F;
    height: 30px;
    width: 200px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.details-user{
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.sepa-p {
    display: flex;
    margin-right: 20px;
}

.sepa-p p {
    margin: 5px;
}
/* aqui el cuadro del user */
.user-details{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

form.user {
    display: flex;
    margin: 15px;
    max-width: 38%;
    height: 170px;
}
label{
    width: 10%;
    margin: 2px
}
.box-input{
    width: 30%;
    margin: 5px;
}
.title-user {
    margin: 15px;
    color: #46912F;
}
label.flex {
    flex: 0 1 14%;
    margin: 10px;
}
/* aqui termina el cuadro del user */

/* aqui empieza los estilos del sub menu */
.sub-container{
    background-color: #46912F;
    height: 45px;
    display: flex;
    justify-content: center;
 
}

.sub-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 50%;
    flex: 0 1 100%
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu:hover{
    background-color: #8fd678;
}

.menu a{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}

/* aqui los estilos del menu despegable */
 ul.menu-des{
    list-style: none;
    display: none;
    background-color: #46912F;
 }
 ul.menu-des  a:hover  {
     display: block;
 }
/* aqui termina el menu despegable */

/* aqui termina el sub menu */