html{
    box-sizing: border-box
}
*,*:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}


.menu-main{
    height: 40px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    
}
p.fondo-green,.fondo-white{
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    margin-top: 40px;
}
.menu {
    margin: 0 10px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.fondo-green{
    background-color:  #46912F;
    width: 20%;
    color: white;
    height: 40px;
}
.fondo-white{
    background-color: #EEEEFF;
    width: 80%;
     height: 40px;
}
.fondo-white p {
    position: relative;
    left: 300px;
    margin: 11px;
    font-size: 11px;
}
.fondo-green p {
    margin: 10px
}
.box {
    margin: 10px;
    background-color: transparent;
    width: 150px;
    border: solid 2px #dcfaaf;
    display: flex
}

.modules {
    width: 50px;
    height: 25px;
}
.box-text span{
    color: #46912F;
    font: bold 14px/20px Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 1.4;
}

a {
     text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}

a .box-text:hover span{
    color: #d3e623;
}
/* aqui agrego la barra despegable para el mobile */
.mobile-navbar-button{
    background-color:  #46912F;
    display: flex;
    padding: 14px 16px;
    height: 63px;
}
.mobile-navbar-items{
    height: 280px;
    width: 0;
    display: flex;
    flex-direction: column;
    background-color: #46912F;
    opacity: 0.9;
    padding-top: 10px;
    transition: all 0.5s;
    overflow-x: hidden;
    position: fixed;
}

.mobile-navbar-items a {
    padding: 0px 0px 10px 12px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    width: 200px;
    position: relative;
    bottom: 30px;
}

.mobile-navbar-items a:hover{
  color: #d3e623;
}
.mobile-navbar-items .btn-close{
    top: 0px;
    left: 190px;
    font-size: 50px;
    height: 50px;
    width: 40px;
    align-items: baseline;
    padding: 0 5px 0 10px;
}

/*aqui termina la barra despegable */

/* empiezo con los estilos de las barritas hr */
div.line{
     width: 85px;
    
}
hr {    
   border: 0;
    border-radius: 10px;
    height: 2px;
    box-shadow: inset 0px 0px 0px 3px #bae47a;
    padding: 4px;
}
/*aqui termina las barras hr */

@media screen and (max-width:480px) {
    
    .menu{
    width: 60%;
    height: 50%;
    margin: 0 auto;
    flex-direction: column;
    /**display: grid; usarla para responsive es muy efectivo */
    }
    nav p{
        font-size: 12px;
    }
    .box-text{
       max-width: 50%;
    }
    .box-text span {
        font-size: 15px;
        
    }
    .menu-main{
        display: none;
    }
    /*.box a img {
        width: 200px;
    }*/
    .line{
        max-width: 100%;
    }
}
@media screen and (min-width:480px) {
  .open-slide{
    display: none;
  }
   .mobile-navbar-button{
      display: none;
  }
  .mobile-navbar-items {
    display: none;
}
}

