html{
    box-sizing: border-box
}
*,*:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}


.menu-main{
    background-color: #EEEEFF;
    height: 45px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    
}
nav p{
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 40px;
}
.menu {
    margin: 0 10px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.fondo{
    background-color:  #46912F;
}
.box {
    margin: 10px;
}

.box-text{
    position: relative;
    bottom: 75px;
    left: 80px;
    width: 50%;
}

.box-text span{
    color: #46912F;
    font: bold 14px/20px Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a .box-text:hover span{
    color: #d3e623;
}

@media screen and (max-width:480px) {
    
    .menu{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    flex-direction: column-reverse;
    /**display: grid; usarla para responsive es muy efectivo */
    }
    nav p{
        font-size: 12px;
    }
    .box-text{
       max-width: 45%;
    }
    .box-text span {
        font-size: 15px;
        
    }
}
