
/* aqui el cuadro del user */
.user-details,.filters-container{
	display: flex;
}

.user-details-box,.filters-details-box {
	margin: 0 20px 0 0;
	display: flex;
}

.user-details-box-row,.filters-details-box-row {
  margin: 0px 20px 0px 0px;
}

form.user,.filters {
	display: flex;
	margin: 15px 0;
}

select.input-text {
	width: 181px;
	height: 36px;
	background: #fffafa;
}

.module-content-container {
	margin: 0 15px;
}

.label-space{
	padding: 8px 0 5px 0;
	margin-top: 20px;
}
/* aqui termina el cuadro del user */


