/* input estilos */ 
.boton{
	background-color: #ddd3d3;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 20px;
	width: 150px;
	height: 48px;
	cursor: pointer;
}

.change-page {
	height: 23px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 10px;
	max-width: 92%;
	font-family: Verdana;
	color: #333333;
	font-size: 12px;
}

.change-page-sep {
	padding: 0 5px 0 10px;
}

input.change-page-buton,select {
	height: 20px;
	width: 40px;
}

.change-page-select{
	height: 25px;
	border: 1px solid #999999;
	background-image: url(../images/iconsSup/bg_campos_texto.jpg);
}

.change-page-img {
	display: flex;
	align-self: stretch;
}

.input-text{
	width: 169px;
	height: 26px;
	color: #666;
	border: 1px solid #ddd;
	padding: 5px;
}
/* fin de input estilos */

/* estilos para los formularios */
.module-content-container {
	margin: 20px 15px 15px;
	padding-bottom: 10px;
}

.user-details-box-row {
	display: flex;
	margin: 20px 0 20px 0;
}

select.input-text {
	width: 181px;
	height: 36px;
	background: #ffffff;
}

.user-details-box-row-label-space {
	width: 140px;
	height: 45px;
}


.user-details-box-row-internal {
	margin: 15px;
	width: 212px;
}

.label-space {
	padding-bottom: 5px;
}

.module-page-title-container {
	margin: 20px 0 20px 0;
}

.titles-color{
	color: #46912F;
}

@media screen and (max-width:480px){
	.user-details-box-row{
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.module-page-title-container {
		text-align: center;
		font-size: 14px;
	}
}

/* aqui termina los estilos para los formularios */

/* estilos para las tablas */
.list-container{
	display: flex;
	margin: 10px;
	font-size: 9px;
	border-left: 1px solid #d2d2d2;
}

.table-list-column {
	flex: auto;
}

.table-list-row {
	border-right:  1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	background-color: #ffffff;
	padding: 4px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.table-list-row:nth-child(odd) {
  background: #F7F7F7;
}

.table-list-row-text {
	width: 35px;
}

.table-list-title,.table-list-bottom-text {
	border-bottom: 1px solid #d2d2d2;
	border-right:  1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	padding: 5px;
	background: #EEEEFF;
	height: 24px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-list-bottom-text{
	border-top: 0;
}

.result,.completed{
	color: #0000ff;
}

.block {
	color: #ff0000;
}

.active,.entered {
	color: #008000;
}
/* aqui terminan los estilos para las tablas */
