/* aqui agrego la barra despegable para el mobile */

.mobile-navbar-container{
	background-color:  #46912F;
	display: flex;
	height: 63px;
	padding: 15px;
	flex:auto;
}

.mobile-navbar-items{
	height: 400px;
	width: 0;
	opacity: 0.9;
	transition: all 0.5s;
	position: absolute;
	z-index: 10;
}

.mobile-navbar-items a {
	padding: 0px 0px 10px 12px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	transition: 0.3s;
}


.mobile-navbar-items a:hover{
	color: #d3e623;
}

.mobile-navbar-items .btn-close{
	top: 0px;
	left: 160px;
	font-size: 50px;
	height: 50px;
	width: 40px;
	align-items: baseline;
	padding: 0 5px 0 10px;
	position: relative;
}

/*aqui termina la barra despegable */

@media screen and (min-width:480px) {
  
	.open-slide{
		display: none;
	}

	.mobile-navbar-container{
		display: none;
	}

	.mobile-navbar-items {
		display: none;
	}
    
}

@media screen and (max-width:480px) {
  
	.top-bar-container{
		display: none;
	}

	.navigation-bar-container{
		display: none;
	}
}